h1 {
    text-align: center;
}

button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background-color: #333;
    color: white;
    border: none;
}